<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
        <title>Конструктор представлений</title>
        <link rel="stylesheet" type="text/css"
              th:href="@{/static/css/layout.css}"/>
        <script th:src="@{/static/js/admin/layout/controller.js}"></script>
    </head>
    <body>
        <header th:replace="fragments/header"></header>

        <div class="col s12 main-container">
            <div class="config container row">
                <h2 class="config-title">Конструктор представлений</h2>

                <p class="config-type">Тип материала: "тест"</p>

                <div class="constructor row">
                    <div class="col s3">
                        <h5 class="constructor-title">Элементы</h5>

                        <div class="constructor-src ">
                            <div class="item-constructor"
                                 th:each="item : ${src}">
                                <span th:text="${item}"></span>
                                <span class="item-constructor-action">
                                    <i class="material-icons">add</i>
                                </span>
                            </div>
                        </div>

                        <p>
                            <a class="waves-effect waves-light btn constructor-config-save">
                                Сохранить
                            </a>
                        </p>
                    </div>

                    <div class="col s9">
                        <h5 class="constructor-title">Конфигурация: 3 колонки
                        </h5>

                        <div id="constructor-config"
                             class="constructor-config constructor-items">
                            <!-- Пустые элементы которые используются для указания размеров сетки через css -->
                            <div class="item-sizer"></div>
                            <div class="item-gutter"></div>

                            <div class="item-constructor"
                                 th:each="item : ${elements}">
                                <span th:text="${item}"></span>
                                <span class="item-constructor-action">
                                    <i class="material-icons">remove</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>